/* sidebar.css */
.sidebar {
    width: 250px;
    position: fixed;
    top: 50px; /* Sidebar starts below the topbar (match the height of the topbar) */
    left: 0;
    height: calc(100% - 50px); /* Adjust the height to fill the remaining space below the topbar */
    background-color: #34495e;
    color: white;
    padding: 20px 10px;
    transition: width 0.2s ease-in-out;
    z-index: 998; /* Ensure the sidebar is below the topbar */
  }
  
  .sidebar h2 {
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.2px;
    color: #ecf0f1;
    margin-top: 20px; /* Add margin to move the text down */
  }
  
  .main-content {
    margin-left: 250px;
    padding: 30px;
    background-color: #ecf0f1;
    min-height: 100vh;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding-top: 70px; /* Add padding to account for the fixed topbar */
  }
  